{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true,
      "spread": true,
      "templateStrings": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "react-app"
  ],
  "plugins": ["babel", "jsx-a11y", "react"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "arrow-spacing": "warn",
    "block-scoped-var": "error",
    "block-spacing": "warn",
    "camelcase": "warn",
    "comma-dangle": [1, "never"],
    "default-case": "warn",
    "new-cap": "off",
    "eqeqeq": "warn",
    "jsx-quotes": [1, "prefer-single"],
    "jsx-a11y/no-autofocus": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-else-return": "warn",
    "no-extra-boolean-cast": "error",
    "no-extra-bind": "error",
    "no-extra-semi": "warn",
    "no-invalid-regexp": "error",
    "no-return-await": "error",
    "no-unused-expressions": [
      "error",
      { "allowShortCircuit": true, "allowTernary": true }
    ],
    "no-useless-computed-key": "warn",
    "no-useless-concat": "warn",
    "no-useless-escape": "warn",
    "no-unreachable": "error",
    "no-useless-rename": "warn",
    "no-useless-return": "warn",
    "no-unused-vars": "error",
    "prefer-destructuring": "warn",
    "prefer-spread": "warn",
    "prefer-template": "warn",
    "react/display-name": 0,
    "react/forbid-foreign-prop-types": 0,
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-no-duplicate-props": "error",
    "react/no-access-state-in-setstate": 2,
    "react/no-array-index-key": 1,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": ["error", "always"],
    "react/no-redundant-should-component-update": 2,
    "react/no-this-in-sfc": 2,
    "react/no-typos": 2,
    "react/no-unknown-property": 1,
    "react/no-unused-prop-types": 1,
    "react/no-unused-state": 2,
    "react/prefer-es6-class": ["error", "always"],
    "react/require-render-return": 2,
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", {
      "named": "never",
    }],
    "strict": ["error", "global"],
    "wrap-iife": "warn"
  },
  "overrides": [
    {
      "files": ["+(with)*.js"],
      "rules": {
        "react/prop-types": 0
      }
    }
  ],
  "globals": {}
}
