{
  "processors": [
    ["stylelint-processor-styled-components", {
      "parserPlugins": [
        "jsx",
        "objectRestSpread",
        ["decorators", { "decoratorsBeforeExport": true }],
        "classProperties",
        "exportExtensions",
        "dynamicImport",
        "optionalChaining",
        "nullishCoalescingOperator"
      ]
    }]
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ]
}