@font-face {
  font-family: 'Helvetica Now';
  src: local('Helvetica Now'), local('HelveticaNow')
    url(/src/assets/webfont/light.woff2) format('woff2'),
    url(/src/assets/webfont/light.woff) format('woff');
  font-weight: 100;
  font-weight: 200;
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Now';
  src: local('Helvetica Now'), local('HelveticaNow'),
    url(/src/assets/webfont/medium.woff2) format('woff2'),
    url(/src/assets/webfont/medium.woff) format('woff');
  font-weight: normal;
  font-weight: 400;
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica Now';
  src: local('Helvetica Now'), local('HelveticaNow'),
    url(/src/assets/webfont/xbold.woff2) format('woff2'),
    url(/src/assets/webfont/xbold.woff) format('woff');
  font-weight: bold;
  font-weight: 600;
  font-weight: 700;
  font-weight: 800;
  font-weight: 900;
}